/* universal font family property */
* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* header class display properties */
.header {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

/* body element display properties */
body {
    display:flex;
    flex-direction: column;
    background-color:#AEE2FF;
    justify-content: center;
}

/* main element display properties */
main {
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

/* button element style properties */
button {
    font-size:large;
    background-color:#E5E0FF;
}

/* button hover style properties */
button:hover {
    background-color:#7286D3;
    transition: 0.7s;
}

/* width of initials input form */
#initials {
    width: 40px;
}

/* display properties for answer buttons */
.answers {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:large;
}

/* list display properties */
ul {
    list-style-type: none;
    text-align:left;
    margin-left:15%;
}

/* hide sections of html on initial load */
.questionpage, .endingpage, .highscorepage {
    display:none;
}